@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
#navbar{
    height: 100px;
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid red; */
}
li>a{
    text-decoration: none;
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    /* text-align: left; */
}
.nav-header h3{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 24px;
    font-weight: 700;
    line-height: 36px;
    letter-spacing: 0px;
    text-align: left;
}
.nav-banner{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 30px;
}
ul{
    display: flex;
    gap: 20px;
}
ul>li{
    list-style-type: none;
}

#journey{
    height: 550px;
    max-width: 1440px;
    margin: 0 auto;
    /* border: 2px solid green; */
    margin-top: 100px;
    margin-bottom: 40px;
    padding: 20px;
}
.container{
    display: flex;
}
.description h1{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 52px;
    font-weight: 700;
    line-height: 70px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 20px;
}
.description p{
    color: rgb(58, 58, 58);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 600;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: left;
    margin-top: 20px;
}
.img img{
    margin-left: 300px;
}
.btn{
    color: rgb(255, 255, 255);
    font-family: Poppins;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    letter-spacing: 0px;
    text-align: center;
    border-radius: 41px;
    background: rgb(224, 44, 109);
    border: none;
    padding: 16px;
    width: 196px;
    margin-top: 30px;
}
.description{
    margin-top: 20px;
    margin-left: 60px;
}

#icons{
    height: 110px;
    width: 1110px;
    margin: 0 auto;
    /* border: 2px solid blue; */
    margin-bottom: 80px;
}
.icon-container{
    display: flex;
    justify-content: center;
    margin-top: 30px;
    gap: 36px;
}








@media screen and (max-width:576px) {
    #navbar{
        visibility: hidden;
    }
    .container{
        flex-direction: column-reverse;
    }
    .img img{
        margin-left: 30px;
        width: 300px;
    }
    #journey{
        width: 400px;
        padding: 0;
        margin: 0;
    }
    #icons{
        margin-top: 260px;
        width: 500px;
        margin-left: 10px;
    }
    .icon-container{
        display: grid;
        grid-template-columns: repeat(4,1fr);
    }
}